<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>        
  <session-factory>
    <!-- Database connection settings -->
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.url">jdbc:mysql://localhost:3306/studentdb</property>
    <property name="connection.username">root</property>
    <property name="connection.password">root123</property>
    
    <property name="show_sql">true</property>
    
    <mapping class="com.student.Students"/>
    <mapping class="com.student.SemMarksheet"/>
    <mapping class="com.hod.Hods"/>
    
    <mapping class="coordinator.Coordinators"/>    
    <mapping class="coordinator.CDocs"/>
    <mapping class="coordinator.CNotices"/>
    <mapping class="coordinator.CAttendance"/>
    
    <mapping class="teacher.Teachers"/>
    <mapping class="teacher.TDocs"/>
    <mapping class="teacher.TNotices"/>
    <mapping class="teacher.TAttendance"/>
    <mapping class="teacher.TAttendance"/>
    <mapping class="teacher.QuestionPaper"/>
    
    <mapping class="com.visitingfaculty.VFaculty"/>
    <mapping class="com.visitingfaculty.VFDocs"/>
    <mapping class="com.visitingfaculty.VFNotices"/>
    <mapping class="com.visitingfaculty.VFAttendance"/>  
  </session-factory>
</hibernate-configuration>